{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="form-container">
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <div class="text-center my-5">
            <img src="https://via.placeholder.com/50" class="img-fluid" alt="...">
        </div>
        <h1 class="h3 mb-3 font-weight-normal text-center">Please sign in</h1>
        <div class="mb-3">        
            <label class="form-label" for="email">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="email" class="form-control" autocomplete="email" required autofocus>
        </div>
        <div class="mb-3">        
            <label class="form-label"  for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" autocomplete="current-password" required>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <button class="btn btn-lg btn-primary form-control mb-3" type="submit">
            Sign in
        </button>
        <a href="{{ path('app_register') }}" class="d-flex justify-content-center text-decoration-none mb-2">
            <small>You don't have an account? Click here!</small>
        </a>
        <a href="{{ path('app_forgot_password_request') }}" class="d-flex justify-content-center text-decoration-none">
            <small>Forgot your password? Click here!</small>
        </a>
    </form>
</div>
{% endblock %}
