<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        {% for i in 0..(ad.images|length - 1) %}
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ i }}" class="{% if i == 0 %}active{% endif %}" aria-current="{{ i == 0 ? 'true' : 'false' }}" aria-label="Slide {{ i + 1 }}"></button>
        {% endfor %}
    </div>
    <div class="carousel-inner">
        {% for image in ad.images %}
        <div class="carousel-item {% if loop.first %}active{% endif %}">
            <img src="{{asset('build/dev/' ~ image.fileName) | imagine_filter('ad_caroussel')}}" class="d-block w-100" alt="Slide {{ loop.index }}">
        </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
