
<div class="mb-1">
    <div class="row">
        <div class="col-4 px-0 pe-1">
            {% if favorite.ad.images|length > 0 %}
                {% set image = favorite.ad.images|first %}
                <a href="{{ path('app_ad', {slug:favorite.ad.slug}) }}"><img src="{{asset('build/dev/' ~ image.fileName ) | imagine_filter('ad_thumb')}}" class="card-img-top" alt="..."></a>
            {% else %}
                <a href="{{ path('app_ad', {slug:favorite.ad.slug}) }}"><img src="https://via.placeholder.com/400x300" class="card-img-top" alt="..."></a>
            {% endif %}
        </div>
        <div class="col-8 px-0">
            <h6>
                <div class="d-flex justify-content-between">
                    <a href="{{ path('app_ad', {slug:favorite.ad.slug}) }}" class="text-decoration-none">
                        <b>{{favorite.ad.title|u.truncate(26,'...')}}</b>
                    </a>
                    <i 
                        class="me-2 fa-heart text-danger {% if hasFavorite(favorite.ad) %}fa-solid{% else %}fa-regular{% endif %} favorite-toggle"
                        data-url ="{{ path('app_favorite_toggle',{slug:favorite.ad.slug}) }}"
                        style="cursor: pointer;"
                    >
                    </i>
                </div>
            </h6>
            <div><b>{{favorite.ad.price | number_format(0, '.', ' ')}}</b></div>
        </div>
    </div>
</div>