{% extends 'base.html.twig' %}

{% block title %}Transport, Real estate, Electronics, Jobs, Services, Others{% endblock %}

{% block body %}
<div class="container-fuild">
    <div class="row m-1">
        <div class="col-lg-9">
            <turbo-frame id="ads-list-{{pager.currentPage}}">
            <div class="row">                
                {% for ad in pager %}
                <div class="col-6 col-md-4 col-lg-3">
                    {% include "home/_ad_card.html.twig" %}
                </div>
                {% endfor %}
                {% if pager.hasNextPage %}
                    <turbo-frame id="ads-list-{{pager.nextPage}}" src="{{pagerfanta_page_url(pager, pager.nextPage)}}" loading="lazy">
                    </turbo-frame>
                {% endif %}
            </div>
            </turbo-frame>
        </div>
        <div class="col-lg-3 d-none d-lg-block">
            {% if myAds|length > 0 %}        
                <div class="row mb-2">
                    <h5>My ads</h5>
                    {% for ad in myAds %}
                        {% include "home/_my_ad_card.html.twig" %}
                    {% endfor %}
                <a href="{{ path('app_profile_ad_index') }}" class="btn btn-secondary form-control">All my ads</a>
                </div>
            {% endif %}
            {% if favorites|length > 0 %}        
                <div class="row">
                    <h5>My favorites</h5>
                    {% for favorite in favorites %}
                        {% include "home/_favorite_card.html.twig" %}
                    {% endfor %}
                <a href="{{ path('app_profile_favorite_index') }}" class="btn btn-secondary form-control">All my favorites</a>
                </div>
            {% endif %}        
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('home_index') }}
{% endblock %}