{% extends 'base.html.twig' %}

{% block title %}{{ ad.title }}{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row m-1">
        <div class="col-lg-9">
            <div class="text-secondary">
                <span><a href="{{ path('app_home') }}" class="text-decoration-none">Home</a></span> >
                {% for category in categoriesHierachy %}                    
                    <span><a href="#" class="text-decoration-none">{{ category.name|capitalize}}</a></span>
                    {% if not loop.last %} >{% endif %}                    
                {% endfor %}
            </div>            
            <div class="row">
                <div class="col-8">
                    <h1>{{ ad.title }}</h1>
                    <img src="https://via.placeholder.com/400" class="card-img-top" alt="{{ ad.title }}">
                    <div class="row my-2">
                        <div class="col-2">
                            <img src="https://via.placeholder.com/400x300" class="img-fluid" alt="">
                        </div>
                    </div>
                    <h2 class="mt-3 mb-2 ms-1">Address</h2>
                    <div class="ms-1">{{ ad.address }}</div>
                    <h2 class="mt-3 mb-2 ms-1">Description</h2>
                    <div class="ms-1">{{ ad.description }}</div>
                    <div class="ms-1 mt-4">№ {{ad.id}} · {{ad.createdAt|date('d F Y H:i')}} · {{ad.viewsCount}} views (+0 today)</div>
                    <h3 class="mt-3 mb-2 ms-1">
                        <div type="button"  data-bs-toggle="collapse" data-bs-target="#similarAds" aria-expanded="true" aria-controls="similarAds">
                            Other ads
                            <i class="fa-solid fa-caret-down fa-sm ms-1"></i>
                        </div>
                    </h3>
                    <div id="similarAds" class="accordion-collapse collapse show row" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        {% for ad in similarAds %}
                            <div class="col-4">
                                {% include "home/_ad_card.html.twig" %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                
                <div class="col-4">
                    <div class="position-sticky" style="top: 20px;">
                        <div class="d-flex justify-content-between align-items-center">
                            <h1>{{ ad.price }}</h1>
                            <i class="fa-regular fa-heart fa-2x"></i>
                        </div>
                        <div class="row">
                                <button class="btn btn-primary btn-lg form-control m-2 rounded-pill">Show phone number</button>
                                <button class="btn btn-primary btn-lg form-control m-2 rounded-pill">Write a message</button>
                                <button class="btn btn-primary btn-lg form-control m-2 rounded-pill">Write a Whatsapp</button>
                        </div>
                        <div class="d-flex justify-content-between mt-4">
                            <div>
                                <h5 class="my-2">{{ ad.account.owner|initials }}</h5>
                                <div class="my-2">On MiniMarket since {{ad.account.createdAt|date('d F Y')}}</div>
                                <div class="my-2">{{ad.account.ads|length}} ads</div>
                                <div class="my-2">
                                    <span class="badge bg-primary">Primary</span>
                                    <span class="badge bg-primary">Primary</span>
                                    <span class="badge bg-primary">Primary</span>
                                    <span class="badge bg-primary">Primary</span>
                                    <span class="badge bg-primary">Primary</span>
                                </div>
                            </div>
                            <div>
                                <i class="fa-solid fa-user-circle fa-3x text-secondary"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-lg-2">
            <!-- Cette colonne peut être utilisée pour des éléments supplémentaires, par exemple une liste d'annonces similaires -->
        </div>
    </div>
</div>
{% endblock %}
